.footer {
    // display: flex;
    // justify-content: space-between;
    // padding-top: 5rem;
  
  
    // &__menu-item {
    //   display: inline-block;
    //   list-style: none;
    // }
  
    // &__menu-link {
    //   padding-right: 2rem;
  
    //   &.active {
    //     text-decoration: none;
    //   }
    // }

    &__name {
      display: flex;
      justify-content: right;
      font-size: 0.75rem;
      padding-top: 5rem;
    }
  }